# ZEEK порт
ZEEK_PORT=

# порт бекенд приложения
PORT=3000

# урл монги
MONGO_URL=

# JWT-секрет, нужный для работы JWT-авторизации
JWT_SECRET=

# Папка, в которой будут храниться отправляемые файлы
UPLOAD_PATH=images

# Временная папка для файлов
UPLOAD_PATH_TEMP=temp

# С какого хоста разрешено отключение корса локально (фронтенд приложение)
ORIGIN_ALLOW=http://localhost:5173

# Настройка рефреш токенов для JWT-авторизации
AUTH_REFRESH_TOKEN_EXPIRY=7d
AUTH_ACCESS_TOKEN_EXPIRY=1m