# токен для гигачата
GIGACHAT_API_KEY=

# урл для получения токена на 30 минут работы
GIGACHAT_ACCESS_TOKEN_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth

# нужно для получения ACCESS-токена
GIGACHAT_SCOPE=GIGACHAT_API_PERS

# для общения с моделью
GIGACHAT_TEXT_GENERATION=https://gigachat.devices.sberbank.ru/api/v1/chat/completions